.container {
  position: relative;
}

.table {
  display: block;
  margin-top: 1rem;
}

.button-add-contact {
  position: fixed;
  bottom: 20px;
  right: 25%;
}

.button-refresh {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  height: 10vh;
}

.th-actions {
  width: 5rem;
}

.confirm-dialog {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.confirm-dialog-icon {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 2rem;
}

.confirm-dialog-buttons {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}

.form-edit-contact {
  display: flex;
  flex-direction: row;
}

.input-with-button {
  width: fit-content;
}

.td-avatar {
  width: 0;
}

.td-phone {
  width: 25%;
}
