<div class="container">

  @if (contactFound && !isReset) {
    <p-button class="button-refresh" label="Reset" icon="pi pi-refresh" size="small" [text]="true" [raised]="true" severity="secondary" (onClick)="resetContactFound()"/>

    <p-table class="table" [value]="[{}]" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Phone number</th>
          <th>Name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr>
          <td>{{ contactFound.phoneNumber }}</td>
          <td>{{ contactFound.name }}</td>
          <td>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" [outlined]="true" [raised]="true" severity="danger"
                      (onClick)="removeContact(contactFound.phoneNumber)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <app-search-bar (contactFound)="getContactFound($event)"/>

    <p-table class="table" [value]="(contacts$ | async)!" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Phone number</th>
          <th>Name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contact>
        <tr>
          <td>{{ contact.phoneNumber }}</td>
          <td>{{ contact.name }}</td>
          <td>
            <p-button icon="pi pi-trash" [rounded]="true" [text]="true" [outlined]="true" [raised]="true" severity="danger"
                      (onClick)="removeContact(contact.phoneNumber)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }

  <p-button class="button-add-contact" icon="pi pi-plus" [rounded]="true" [raised]="true" (onClick)="goToAddContact()"/>

  <p-toast key="delete-contact"  position="bottom-right"></p-toast>
  <p-confirmDialog #cd>
    <ng-template pTemplate="headless">
      <div class="confirm-dialog">
        <i class="confirm-dialog-icon pi pi-exclamation-triangle"></i>
        <p>Are you sure you want to delete this contact ?</p>
        <div class="confirm-dialog-buttons">
          <p-button label="Cancel" size="small" [text]="true" [raised]="true" severity="secondary"
                    (onClick)="cd.reject()"/>
          <p-button label="Delete" icon="pi pi-trash" size="small" [raised]="true" severity="danger"
                    (onClick)="cd.accept()"/>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
