<div class="container">
  <form class="searchbar-form" [formGroup]="getContactForm" (keydown.enter)="onSubmit()">
    <label for="phoneNumber">Search contact</label>
    <div>
      <p-inputMask
        id="phoneNumber"
        mask="(+33)9 99 99 99 99"
        formControlName="phoneNumber"
        placeholder="(+33)1 23 45 67 89"
        :autoClear="false"/>
      @if (!phoneValidator_FR_fr(getContactForm.controls["phoneNumber"].value) || isSubmitting) {
        <button type="submit" pButton icon="pi pi-search" class="p-button searchbar-button" aria-label="Submit"
                (click)="onSubmit()"
                [disabled]="true" [loading]="isSubmitting"></button>
      } @else {
        <button type="submit" pButton icon="pi pi-search" class="p-button searchbar-button" aria-label="Submit"
                (click)="onSubmit()"></button>
      }
    </div>
  </form>

  <p-toast key="errorFound-contact" position="bottom-right"></p-toast>
</div>
