.container {
  margin: auto;
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
