.container {
  margin: auto;
}

.content {
  width: fit-content;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}
